In [115]:
import pandas as pd

df= pd.read_csv(r"C:\Users\Anjali\OneDrive\Desktop\DS_project\invoice_progress1.csv")

In [116]:
df.head(4)

,image_name,invoice_id,customer_id,billing_address,shipping_address,date,due_date,product,amount,subtotal,tax_due,total
0,invoice_0001_page1.png,#: 1001,D: CUST-845,Isabella Rivera Rivera Communications 1919 Com...,Isabella Rivera Rivera Communications 1919 Com...,2025-06-13,2025-07-13,IT Infrastructure Assessment,600.00,2410.00,150.62,S2560.62
1,invoice_0001_page1.png,#: 1001,D: CUST-845,Isabella Rivera Rivera Communications 1919 Com...,Isabella Rivera Rivera Communications 1919 Com...,2025-06-13,2025-07-13,Cloud Email Configuration,110.00,2410.00,150.62,S2560.62
2,invoice_0001_page1.png,#: 1001,D: CUST-845,Isabella Rivera Rivera Communications 1919 Com...,Isabella Rivera Rivera Communications 1919 Com...,2025-06-13,2025-07-13,Inventory Management System,1250.00,2410.00,150.62,S2560.62
3,invoice_0001_page1.png,#: 1001,D: CUST-845,Isabella Rivera Rivera Communications 1919 Com...,Isabella Rivera Rivera Communications 1919 Com...,2025-06-13,2025-07-13,API Integration,450.00,2410.00,150.62,S2560.62

In [117]:
df.tail(4)

,image_name,invoice_id,customer_id,billing_address,shipping_address,date,due_date,product,amount,subtotal,tax_due,total
9163,invoice_2000_page1.png,#.3000,): CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Way ...,2025-07-06,2025-08-05,Network Audit,180.00,2470.00,134.38,S2604.38
9164,invoice_2000_page1.png,#.3000,): CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Way ...,2025-07-06,2025-08-05,On-site Technician Visit,90.00,2470.00,134.38,S2604.38
9165,invoice_2000_page1.png,#.3000,): CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Way ...,2025-07-06,2025-08-05,UXIUI Consulting,320.00,2470.00,134.38,S2604.38
9166,invoice_2000_page1.png,#.3000,): CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Way ...,2025-07-06,2025-08-05,Load Balancer Configuration,390.00,2470.00,134.38,S2604.38

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9167 entries, 0 to 9166
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   image_name        9167 non-null   object
 1   invoice_id        9167 non-null   object
 2   customer_id       9167 non-null   object
 3   billing_address   9167 non-null   object
 4   shipping_address  6763 non-null   object
 5   date              9167 non-null   object
 6   due_date          9167 non-null   object
 7   product           9167 non-null   object
 8   amount            9167 non-null   object
 9   subtotal          9167 non-null   object
 10  tax_due           9167 non-null   object
 11  total             9167 non-null   object
dtypes: object(12)
memory usage: 859.5+ KB

In [119]:
df.isnull().sum()

image_name             0
invoice_id             0
customer_id            0
billing_address        0
shipping_address    2404
date                   0
due_date               0
product                0
amount                 0
subtotal               0
tax_due                0
total                  0
dtype: int64

In [120]:
df['shipping_address']=df['billing_address']

In [121]:
df.isnull().sum()

image_name          0
invoice_id          0
customer_id         0
billing_address     0
shipping_address    0
date                0
due_date            0
product             0
amount              0
subtotal            0
tax_due             0
total               0
dtype: int64

In [122]:
# Strip spaces from column names
df.columns = df.columns.str.strip()

In [123]:
# Clean invoice_id → keep only digits
df['invoice_id'] = df['invoice_id'].str.extract(r'(\d+)')

In [124]:
# Clean customer_id → extract only CUST-### pattern
df['customer_id'] = df['customer_id'].str.extract(r'(CUST-\d+)')

In [125]:
# Clean total column → remove S or any other unwanted characters
df['amount'] = df['amount'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df['subtotal'] = df['subtotal'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df['tax_due'] = df['tax_due'].astype(str).str.replace(r'[^0-9.]', '', regex=True)
df['total'] = df['total'].astype(str).str.replace(r'[^0-9.]', '', regex=True)

In [109]:
df.tail(5)

,image_name,invoice_id,customer_id,billing_address,shipping_address,date,due_date,product,amount,subtotal,tax_due,total
9162,invoice_2000_page1.png,3000,CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Atla...,2025-07-06,2025-08-05,Data Encryption Service,290.00,2470.00,134.38,2604.38
9163,invoice_2000_page1.png,3000,CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Atla...,2025-07-06,2025-08-05,Network Audit,180.00,2470.00,134.38,2604.38
9164,invoice_2000_page1.png,3000,CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Atla...,2025-07-06,2025-08-05,On-site Technician Visit,90.00,2470.00,134.38,2604.38
9165,invoice_2000_page1.png,3000,CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Atla...,2025-07-06,2025-08-05,UXIUI Consulting,320.00,2470.00,134.38,2604.38
9166,invoice_2000_page1.png,3000,CUST-127,Daniel Lewis Lewis Logistics 1010 Freight Atla...,Daniel Lewis Lewis Logistics 1010 Freight Atla...,2025-07-06,2025-08-05,Load Balancer Configuration,390.00,2470.00,134.38,2604.38

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9167 entries, 0 to 9166
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   image_name        9167 non-null   object
 1   invoice_id        9167 non-null   object
 2   customer_id       9167 non-null   object
 3   billing_address   9167 non-null   object
 4   shipping_address  9167 non-null   object
 5   date              9167 non-null   object
 6   due_date          9167 non-null   object
 7   product           9167 non-null   object
 8   amount            9167 non-null   object
 9   subtotal          9167 non-null   object
 10  tax_due           9167 non-null   object
 11  total             9167 non-null   object
dtypes: object(12)
memory usage: 859.5+ KB

In [129]:
df['invoice_id'] = df['invoice_id'].astype(int)        # Convert to integer

In [132]:
# Convert numeric columns
numeric_cols = ['amount', 'subtotal', 'tax_due', 'total']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Convert date columns
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['due_date'] = pd.to_datetime(df['due_date'], errors='coerce')

# Verify
print(df.dtypes)

image_name                  object
invoice_id                   int32
customer_id                 object
billing_address             object
shipping_address            object
date                datetime64[ns]
due_date            datetime64[ns]
product                     object
amount                     float64
subtotal                   float64
tax_due                    float64
total                      float64
dtype: object

In [133]:
df.isnull().sum()

image_name           0
invoice_id           0
customer_id          0
billing_address      0
shipping_address     0
date                 0
due_date            83
product              0
amount              29
subtotal             0
tax_due              0
total                0
dtype: int64

In [135]:
# fillling null values
# Usually due_date is 1 month after date, so you can fill nulls automatically:

df['due_date'] = df['due_date'].fillna(df['date'] + pd.DateOffset(months=1))

In [136]:
df.isnull().sum()

image_name           0
invoice_id           0
customer_id          0
billing_address      0
shipping_address     0
date                 0
due_date             0
product              0
amount              29
subtotal             0
tax_due              0
total                0
dtype: int64

In [137]:
# now we have null only in amount '29 null' 
# filling amount column null values with it's mean

df['amount'] = df['amount'].fillna(df['amount'].mean())

In [138]:
df.isnull().sum()

image_name          0
invoice_id          0
customer_id         0
billing_address     0
shipping_address    0
date                0
due_date            0
product             0
amount              0
subtotal            0
tax_due             0
total               0
dtype: int64

In [139]:
# now we don't have any null value our file is cleaned now.

# Save cleaned DataFrame to CSV
df.to_csv('cleaned_invoices.csv', index=False)

In [ ]:
pip install pymysqln

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting pymysql
  Using cached pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [143]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\anjali\appdata\roaming\python\python310\site-packages (2.0.36)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anjali\appdata\roaming\python\python310\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anjali\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.exc import OperationalError

In [4]:
# mysql connection 
# syntax :- 
# engine = create_engine(
#             "mysql+mysqldb://scott:tiger@hostname/dbname",
#             pool_recycle=3600,
#             echo=True,
#         )

# syntax is -- 
#  "mysql+pymysql://user:password@localhost:3306/db_name"


#  for me user-root and i don't have password.
engine_mysql = create_engine("mysql+pymysql://anjali:Anjali%40123@127.0.0.1:3306/invoice_db")


# let's use try expect block to check connected or not
try:
    engine_mysql
    print("Connection successed to mysql")
except:
    print("Unable to Connect")

Connection successed to mysql

In [146]:
# name="table_name",con=(engine_mysql i.e. connection),if_exits = 'appened the table ',index= 'False'

df.to_sql(name='Invoice_table',con=engine_mysql,if_exists='append',index=False)

C:\Users\Anjali\AppData\Local\Temp\ipykernel_20396\3590650311.py:3: UserWarning: The provided table name 'Invoice_table' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name='Invoice_table',con=engine_mysql,if_exists='append',index=False)

9167